body {
  background-color: #f4f4f4;
}

h1 {
  color: darkblue;
  font-size: 60px;
}

.demo {
  font-size: 12px;
  color: darkblue;
}

.highlight_word {
  background-color: yellow;
  color: black;
  font-weight: 700;
  padding: auto 0.21rem;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
