<!-- Pagination Links-->
<nav id="js-pagination-search" class="text-end">
    <div class="text-end">
        <a href="{{ url_for('search', page=1, q=q|trim) }}"
            class="btn btn-outline-dark {% if posts.page == 1 %}disabled{% endif %}" aria-label="Go to First Page">
            <span aria-hidden="true">&laquo;</span>
            <span class="">First Page</span>
        </a>
        <a href="{{ url_for('search', page=posts.prev_num, q=q|trim) }}"
            class="btn btn-outline-dark {% if posts.page == 1 %}disabled{% endif %}" aria-label="Go to Previous Page">
            <span aria-hidden="true">&lsaquo;</span>
        </a>
        <!-- Loop through the number of pages to display a link for each-->
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=2,
    left_current=1, right_current=2) %} {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
        {% if posts.page == page_num %}
        <a href="{{ url_for('search', page=page_num, cur=date_posted_input, q=q|trim) }}" class="btn btn-dark"
            aria-label="Current Page">
            {{ page_num }}
        </a>
        {% elif page_num < posts.page %}
        <a href="{{ url_for('search', page=page_num, cur=date_posted_input, cur_page='desc', q=q|trim) }}"
            class="btn btn-outline-dark" aria-label="Go to Page {{ page_num }}">
            {{ page_num }}
        </a> {% else %}
        <a href="{{ url_for('search', page=page_num, cur=date_posted_input, cur_page='asc', q=q|trim) }}"
            class="btn btn-outline-dark" aria-label="Go to Page {{ page_num }}">
            {{ page_num }}
        </a>
        {% endif %} {% else %} ... {% endif %} {% endfor %}
        <a href="{{ url_for('search', page=posts.next_num, q=q|trim) }}"
            class="btn btn-outline-dark {% if posts.page == posts.pages %}disabled{% endif %}"
            aria-label="Go to Next Page">
            <span aria-hidden="true">&rsaquo;</span>
        </a>
        <a href="{{ url_for('search', page=posts.pages, q=q|trim) }}"
            class="btn btn-outline-dark {% if posts.page == posts.pages %}disabled{% endif %}"
            aria-label="Go to Last Page">
            <span class="">Last Page</span>
            <span aria-hidden="true">&raquo;</span>
        </a>
    </div>
    <p class="text-right mt-3">
        Showing page {{ posts.page }} of {{ posts.pages }}
    </p>
</nav>
