{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}" />
{%- endmacro %}

{% macro validation_field(id, class, field) -%}
<div id="{{ id }}" class="{{ class }}">{{ field.errors|join(', ') }}</div>
{%- endmacro %}

{% macro highlight_word(text, word) -%}
{{ text|replace(word,'<span class="highlight_word">' ~ word ~'</span>')|safe }}
{#<div id="{{ id }}" class="{{" class }}>{{ field.errors|join(', ') }}</div>
#}
{%- endmacro %}
