{% extends 'base.html' %}

{% block content %}
<br>
<div class="text-center">
    <h1>{{ gettext('User error') }}</h1>
    <p>{{ gettext('Please try again.') }}</p>
    {{ e }}
</div>

{#
{{ e }}
#}
{% endblock %}
