{% extends 'base.html' %}

{% block content %}


{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}


{% if name %}
<h1 class="mb-5">{{ gettext("User Added!") }}</h1>
{% else %}
<h1>{{ gettext("Register") }}</h1>
<br>
<form id="add-user" action="" method="post" class="mb-3 shadow p-3 mb-5 bg-body rounded">
    {{ form.hidden_tag() }}
    {{ form.name.label(class='form-label') }}
    {{ form.name(class='form-control'|form_error_class('element', form.name.errors, request.method), aria_describedby="validationNameFeedback") }}
    <div id="validationNameFeedback" class="{{ ''|form_error_class('help', form.name.errors, request.method) }}">
        {{ form.name.errors|join(', ') }}
    </div>
    <br>
    {{ form.username.label(class='form-label') }}
    {{ form.username(class='form-control') }}
    <br>
    {{ form.email.label(class='form-label') }}
    {{ form.email(class='form-control') }}
    <br>
    {{ form.favorite_color.label(class='form-label') }}
    {{ form.favorite_color(class='form-control') }}
    <br>
    {{ form.password_hash.label(class='form-label') }}
    {{ form.password_hash(class='form-control') }}
    <br>
    {{ form.password_confirm.label(class='form-label') }}
    {{ form.password_confirm(class='form-control') }}
    <br>
    {{ form.submit_register(class="btn btn-secondary") }}
</form>
{% endif %}
<div class="mt-5 pt-3 border-4 border-top pt-5">
    {% if our_users %}
    <div class="border-4 d-block"></div>
    <!-- <h2 class="text-center mb-0 mt-5 border-5 border-top p-5">Users List</h2> -->
    <table class="table table-hover table-bordered table-striped">
        <caption>{{ gettext("User List") }}</caption>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">{{ gettext("Name") }}</th>
            <th scope="col">{{ gettext("Username") }}</th>
            <th scope="col">{{ gettext("Email") }}</th>
            <th scope="col">{{ gettext("Favorite Color") }}</th>
            <th scope="col">{{ gettext("Password") }}</th>
        </tr>
        {% for our_user in our_users %}
        <tr>
            <td>{{ our_user.id }}</td>
            <td><a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.name }}</a></td>
            <td>{{ our_user.username }}</td>
            <td>{{ our_user.email }}</td>
            <td>{{ our_user.favorite_color }}</td>
            <td>{{ our_user.password_hash }}</td>
            <td><a href="{{ url_for('delete', id=our_user.id) }}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="text-center fs-5"><em>{{ gettext("no users found") }}</em></p>
    {% endif %}

</div>
{% endblock content %}
