{% extends 'base.html' %}

{% block content %}
{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}

{% if current_user.is_authenticated %}
<h1>{{ gettext("Add Blog Post...") }}</h1>
<br>
<form action="" name="add-post" id="add-post" method="post" class="mb-3 shadow p-3 mb-5 bg-body rounded">
    {{ form.hidden_tag() }}
    {% set title_errors = form.title.errors|length %}


    {% if request.method == 'POST' %}
    {% if title_errors > 0 %}
    {% set title_class = ' is-invalid' %}
    {% set help_class = 'invalid-feedback' %}
    {% else %}
    {% set title_class = ' is-valid' %}
    {% set help_class = 'valid-feedback' %}
    {% endif %}
    {% endif %}


    {{ form.title.label(class='form-label') }}
    {{ form.title(class='form-control'|form_error_class('element', form.title.errors, request.method), aria_describedby="validationTitleFeedback") }}
    {# {% if form.title.errors %} #}
    <div id="validationTitleFeedback" class="{{ ''|form_error_class('help', form.content.errors, request.method) }}">
        {{ form.title.errors|join(', ') }}
    </div>
    {# {% endif %} #}
    <br>
    {# {{ form.slug.label(class='form-label') }} #}
    {# {{ form.slug(class='form-control') }} #}
    {# <br> #}
    {% if request.method == 'POST' %}
    {% if form.content.errors|length > 0 %}
    {% set field_class = ' is-invalid' %}
    {% set help_class = 'invalid-feedback' %}
    {% else %}
    {% set field_class = ' is-valid' %}
    {% set help_class = 'valid-feedback' %}
    {% endif %}
    {% else %}
    {% set field_class = ''  %}
    {% set help_class = '' %}
    {% endif %}
    {{ form.content.label(class='form-label') }}
    {{ form.content(class='form-control'|form_error_class('element', form.content.errors, request.method), row="10", aria_describedby="validationContentFeedback") }}
    {# {% if form.content.errors %} #}
    <div id="validationTitleFeedback" class="{{ ''|form_error_class('help', form.content.errors, request.method) }}">
        {{ form.content.errors|join(', ') }}
    </div>
    {# {% endif %} #}
    <br>
    {{ form.submit(class="btn btn-secondary") }}
</form>
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}
{% else %}
<h1>{{ gettext("Must be logged in...") }}</h1>
<p>{{ gettext("Sorry, you must be logged in to access this page!") }}</p>

<a href=" {{ url_for('login')}}">{{ gettext('Login here') }}</a>
{% endif %}
</div>
{% endblock %}
