<article class="post-item mb-3 shadow p-3 mb-5 bg-body rounded">
    <h2><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h2>
    By: {{ post.poster.name }}<br />
    <small><time datetime="{{ post.date_posted }}" class="text-muted">{{ post.date_posted }}</time></small><br />
    <!-- <p>{% for line in post.content.splitlines() %}{{ line|safe }} {% if not loop.last %}<br>{% endif %}{% endfor %}</p> -->
    {{ format_text_to_p(post.content|safe)|safe}}
    <div class="mt-0 d-flex flex-row gap-3">
        <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">{{ gettext("View Post") }}
            <span class="visually-hidden">{{ post.title }}</span></a>
        {% if post.poster_id == current_user.id %}<a href="{{ url_for('edit_post', id=post.id) }}"
            class="btn btn-outline-secondary btn-sm">{{ gettext("Edit Post") }}
            <span class="visually-hidden">{{ post.title }}</span></a>
        <form action="{{ url_for('delete_post', id=post.id) }}" class="d-inline-block" method="post">
            <button class="btn btn-outline-danger btn-sm delete-js" data-delete-message="{{ gettext('Delete post?') }}">
                {{ gettext(" Delete Post") }}
            </button>
        </form>
        {% endif %}
    </div>
</article>
