{% extends 'base.html' %}

{% block content %}


{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}

<h1 class="display-5 mt-3 text-black text-black-50">{{ gettext('Dashboard') }}</h1>
<br>
<div class="card">
    <div class="card-header">
        <h2 class="">{{ current_user.username }}</h2>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>{{ gettext('User Id:') }} </strong>{{ current_user.id}}
                            </li>
                            <li class="list-group-item"><strong>{{ gettext('Name:') }} </strong>{{ current_user.name}}
                            </li>
                            <li class="list-group-item"><strong>{{ gettext('Username:') }} </strong>{{
                                current_user.username }}</li>
                            <li class="list-group-item"><strong>{{ gettext('Email:') }} </strong>{{ current_user.email
                                }}</li>
                            {% if current_user.favorite_color %}<li class="list-group-item"><strong>{{ gettext('Favorite
                                    Color:')}}
                                </strong>{{ current_user.favorite_color }}</li>{% endif %}{% if
                            current_user.about_author %}<li class="list-group-item"><strong>{{ gettext('About Author')
                                    }}: </strong>{{
                                current_user.about_author }}</li>{% endif %}{% if current_user.profile_picture %}<li
                                class="list-group-item"><strong>{{ gettext('Profile Picture') }}: </strong>{{
                                current_user.profile_picture }}</li>{% endif %}
                            <li class="list-group-item"><strong>{{ gettext('Date joined:') }} </strong>{{
                                current_user.date_added }}</li>
                        </ul>
                        <div class="m-3">
                            <p class="mb-3"><a href="{{ url_for('update', id=current_user.id) }}"
                                    class="btn btn-sm btn-secondary ">{{ gettext("Update profile") }}</a></p>
                            <form class="mb-3" action="{{ url_for('delete', id=current_user.id) }}" method="post">
                                <button class="btn btn-danger btn-sm  delete-js"
                                    data-delete-message="{{ gettext('Delete your account?') }}">{{ gettext("Delete
                                    account") }}</button>
                            </form>
                            <form action="{{ url_for('logout') }}" method="post" class="mb-3"><button
                                    class="btn btn-secondary btn-sm">Log out</button></form>
                        </div>
                    </div>

                    {% if current_user.profile_picture %}
                    <div class="col-md-4 text-end"><img
                            src="{{ url_for('static', filename=upload_dir + current_user.profile_picture)}}"
                            alt="{{ current_user.name }}" class="img-fluid w-50 my-2" /></div>
                    {% else %}
                    <div class="col-md-4 text-end"><img
                            src="{{ url_for('static', filename='images/default_profile_pic.png')}}"
                            alt="{{ current_user.name }}" class="img-fluid w-50 my-2" /></div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <span class="fs-4">{{ gettext("Update Profile") }}</span>
        </div>
        <div class="card-body">
            <form id="dashboard-form" action="{{ url_for('dashboard', id=name_to_update.id) }}" method="post"
                class="mb-3 shadow p-3 mb-5 bg-body rounded" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.name.label(class='form-label') }}
                {{ form.name(class='form-control', value=name_to_update.name) }}
                <br>
                {{ form.username.label(class='form-label') }}
                {{ form.username(class='form-control', value=name_to_update.username) }}
                <br>
                {{ form.email.label(class='form-label') }}
                {{ form.email(class='form-control', value=name_to_update.email) }}
                <br>
                {{ form.favorite_color.label(class='form-label') }}
                {{ form.favorite_color(class='form-control', value=name_to_update.favorite_color) }}
                <br>
                {{ form.about_author.label(class='form-label') }}
                {{ form.about_author(class='form-control') }}
                <br />
                {{ form.profile_picture.label(class='form-label') }}
                {{ form.profile_picture(class='form-control', value=name_to_update.profile_picture, id="profile_image")
                }}
                <div>
                    <img src="" alt="" class="w-20 h-auto" id="profile_image_preview" />
                </div>
                <br>
                {{ form.submit_register(class="btn btn-secondary") }}
            </form>
        </div>
    </div>
</div>
</div>
</div>

{% endblock content %}
