{% extends 'base.html' %}

{% block content %}
{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}


<h1>{{ gettext("Edit Blog Post...") }}</h1>
<br>
<form id="edit-post" action="" method="post" class="mb-3 shadow p-3 mb-5 bg-body rounded">
    {{ form.hidden_tag() }}
    {{ form.title.label(class='form-label') }}
    {{ form.title(class='form-control') }}
    <br>
    {{ form.content.label(class='form-label') }}
    {{ form.content(class='form-control', row="10") }}
    <br>
    {{ form.submit(class="btn btn-secondary") }}

    {{ ckeditor.load(pkg_type='full') }}
    {{ ckeditor.config(name='content') }}
</form>
</div>
{% endblock %}
