{% extends 'base.html' %}

{% block content %}
<h1>{{ gettext('Hello World!') }}</h1>

<p>{{ gettext('This is my first webpage!!!') }}</p>

<p>{{ gettext("Isn't this cool!?") }}</p>

<p>{{ gettext('My name is') }} {{ first_name }}</p>

<p>{{ stuff|safe }}</p>

<h3>{{ gettext('Favorite Pizza') }}</h3>
{# looping #}
{% for topping in favorite_pizza %}
<p>{{ topping }}</p>
{% endfor %}

<br /><br />
{# first item of the list #}
<p>{{ favorite_pizza.0 }}</p>
{# Do math calculations #}
<p>{{ favorite_pizza.3 + 10 }}</p>

<h3>{{ gettext('Favorite Pizza') }}</h3>
{% for topping in favorite_pizza %}
<p>{% if topping == 42 %}
    {{ topping + 100 }}<br>
    {% else %}
    {{ topping }}<br>
</p>

{% endif %}
</p>
{% endfor %}

{{ favorite_pizza|reverse|join(', ') }}
{% endblock %}
