{% extends 'base.html' %}

{% block content %}


{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    <span class="text-black">{{ message }}</span>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button> -->
</div>
{% endfor %}

<h1>{{ gettext('Login')}}</h1>
<br>
<form id="login" action="" method="post" class="mb-3 shadow p-3 mb-5 bg-body rounded">
    {{ form.hidden_tag() }}
    {{ form.username.label(class='form-label') }}
    {{ form.username(class='form-control') }}
    <br>
    {{ form.password.label(class='form-label') }}
    {{ form.password(class='form-control') }}
    <br>
    {{ form.submit_login(class="btn btn-secondary") }}
</form>

{% endblock content %}
