{% extends 'base.html' %}

{% block content %}


{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}


{% if name %}
<h1>{{ gettext('Hello') }} {{ name }}</h1>
<br>
<img src="{{url_for('static', filename='images/image.png')}}" alt="">
<br>
<br>
<br><br>
<p id="js-demo" class="demo">{{ gettext('This is stuff') }}</p>

<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% else %}
<h1>{{ gettext("What's your name") }}?</h1>
<br>
<form action="" method="post" id="namer-form">
    {{ form.hidden_tag() }}

    {{ form.name.label(class='form-label') }}
    {{ form.name(class='form-control') }}
    <br>
    {{ form.submit(class="btn btn-secondary") }}
</form>
{% endif %}



{% endblock %}
