<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Flasker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="{{ gettext('Toggle navigation') }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user', name='John') }}">User Profile</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('name') }}">{{ gettext('Name') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_user') }}">{{ gettext('Add User') }}</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_post') }}">{{ gettext('Add Blog Post') }}</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('posts') }}">{{ gettext('Posts') }}</a>
                </li>
                <li class="nav-item">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('dashboard') }}">{{ gettext('Dashboard') }}</a>
                </li>

                {% if current_user.id == 1 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin') }}">{{ gettext('Admin') }}</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <form action="{{ url_for('logout') }}" method="post"
                        aria-label="{{ gettext('Log out of your account') }}" title="{{ gettext('Log out') }}"
                        class="d-inline-block" style="color:rgba(255,255,255,.55)"><button
                            class="btn d-block nav-link">{{ gettext('Logout') }}</button></form>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('login') }}">{{ gettext('Login') }}</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_user') }}">{{ gettext('Register') }}</a>
                    {% endif %}
                </li>
            </ul>
            <form id="search-form" method="post" action="{{ url_for('search') }}" class="d-flex">
                {{ form_search.hidden_tag() }}
                <input class="form-control me-2" type="search" placeholder="{{ gettext('Search') }}"
                    aria-label="{{ gettext('Search') }}" name="q" required>
                <button class="btn btn-outline-secondary btn-outline-light" name="search" type="submit">{{ gettext('Search')
                    }}</button>
            </form>
            <div>
                <form id="change_language" action="{{ url_for('change_language') }}" method="post"
                    class="d-inline mr-3">
                    {{ language_select_form.next(value=request.url) }}
                    {#
                    <select name="language_selection" id="language_selection"
                        class="form-control-sm form-select-sm mr-3">
                        <option class="" value="en">{{ gettext('English')}}</option>
                        <option class="" value="fr">{{ gettext('French')}}</option>
                    </select>#}
                    {{ language_select_form.language_selection.label(class='form-label sr-only') }}
                    {{ language_select_form.language_selection(class='form-control-sm form-select-sm mr-3') }}
                    <button class="btn btn-sm btn-outline-secondary btn-outline-light" type="submit"
                        aria-label="{{gettext('Change current Language') }}">{{
                        gettext('Change') }}</button>
                </form>
            </div>
        </div>
    </div>
</nav>
