{% extends 'base.html' %}

{% block content %}

{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}

<!-- <h1 class="mb-5">Blog Posts...</h1> -->
<section class="mt-5">
    <article class="mb-3 shadow p-3 mb-5 bg-body rounded">
        <h2>{{ post.title }}</h2>
        {{ gettext('By') }}: {{ post.poster.name }}<br>
        <small><time datetime="{{ post.date_posted }}" class="text-muted">{{ post.date_posted|formatdatetime("%Y-%M-%d
                %H:%I:%S") }}</time></small><br>
        {# <p>{% for line in post.content.splitlines() %}{{ line|safe }}{% if not loop.last %}<br>{% endif %}{% endfor
            %}</p> #}
        {{ format_text_to_p(post.content|safe) }}
        <div class="mb-3 card">
            <div class="row g-0">
                <div class="col-md-2">
                    {% if post.poster.profile_picture %}
                    {% set image = upload_dir + post.poster.profile_picture %}
                    {% else %}
                    {% set image = 'images/default_profile_pic.png' %}
                    {% endif %}
                    <img src="{{ url_for('static', filename= image ) }}" alt="{{ post.poster.name }}"
                        style="max-width: 150px;" class="align-left" />

                </div>

                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ post.poster.name }}
                        </h5>
                        <p class="card-text">
                            {{ post.poster.about_author|default('Author has no about profile yet...', True)}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>

<div class="d-flex gap-0">
    {% if post.poster_id == current_user.id %}
    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-dark btn-sm">{{ gettext("Edit Post") }}</a>
    <!-- <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a> -->
    <form action="{{ url_for('delete_post', id=post.id) }}" class="d-inline mx-2" method="post">
        <button class="btn btn-outline-danger btn-sm delete-js" data-delete-message="{{ gettext('Delete post?') }}">{{
            gettext("Delete Post") }}</button>
    </form>
    {% endif %}
    <a href="{{ url_for('posts', cur=prev_page) }}" class="btn btn-secondary btn-sm">{{ gettext("Back To Blog") }}</a>
</div>

{% endblock %}
{% block js_before %}
{#
<link rel="gettext" type="application/x-po" href="{{ url_for('static', filename='js/translations/js_fr.po') }}">
<script src="{{ url_for('babel_catalog') }}"></script> #}
{% endblock js_before %}
