{% extends 'base.html' %} {% block content %} {% for (category, message) in
get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}

<!-- <h1 class="mb-5">Blog Posts...</h1> -->
<section class="mt-5">
    {% for post in posts.items %}
    <article class="mb-3 shadow p-3 mb-5 bg-body rounded">
        <h2><a href="{{ url_for('post', id=post.id, cur=date_posted_input) }}">{{ post.title }}</a></h2>
        {{ gettext('By') }}: {{ post.poster.name }}<br />
        <small><time datetime="{{ post.date_posted }}" class="text-muted">{{ post.date_posted|formatdatetime("%Y-%M-%d
                %H:%I:%S") }}</time></small><br />
        <!-- <p>{% for line in post.content.splitlines() %}{{ line|safe }}{% if not loop.last %}<br>{% endif %}{% endfor %}</p> -->
        {{ format_text_to_p(post.content|safe) }}

        <div class="mt-0 d-flex flex-row gap-3">
            <a href="{{ url_for('post', id=post.id, cur=date_posted_input) }}"
                class="btn btn-outline-secondary btn-sm">{{ gettext('View Post')
                }} <span class="visually-hidden">{{ post.title }}</span></a>
            {% if post.poster_id == current_user.id or current_user.role == 'admin' %}<a
                href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">{{ gettext("Edit
                Post") }} <span class="visually-hidden">{{ post.title }}</span></a>
            <form action="{{ url_for('delete_post', id=post.id) }}" class="d-inline-block" method="post">
                <button class="btn btn-outline-danger btn-sm delete-js"
                    data-delete-message="{{ gettext('Delete post?') }}">
                    {{ gettext('Delete Post') }}
                </button>
            </form>
            {% endif %}
        </div>
    </article>
    {% else %}
    <p class="text-center">{{ gettext('No post') }}</p>
    {% endfor %}
    {% if posts.total > 0 %}
    {% include 'helpers/_paginate.html' %}
    {% endif %}

</section>

{% endblock %}

{% block js_before %}
<script>
    var showBackToTop = true
</script>
{% endblock js_before %}
