{% extends 'base.html' %} {% block content %}

{% include "helpers/macros.html" %}

{% macro highlight_word(text, word) -%}
text|replace(word,'<span class="highlight_word">' ~ word ~'</span>')
{#<div id="{{ id }}" class="{{" class }}>{{ field.errors|join(', ') }}</div>
#}
{%- endmacro %}

<div class="mb-5">
    <h2 class="">{{ gettext("You searched for") }}: <em>{{ q | trim }}</em></h2>
    <p></p>
</div>
<section class="mt-5">
    <p>
        {% if total <= 1 %}
        {{ total }} {{ gettext('post found') }}
        {% else %}
        {{ total }} {{ gettext('posts found') }}
        {% endif %}
    </p>
    {% for post in posts.items %}

    <article class="post-item mb-3 shadow p-3 mb-5 bg-body rounded">
        <h2><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h2>
        By: {{ post.poster.name }}<br />
        <small><time datetime="{{ post.date_posted }}" class="text-muted">{{ post.date_posted }}</time></small><br />
        <!-- <p>{% for line in post.content.splitlines() %}{{ line|safe }} {% if not loop.last %}<br>{% endif %}{% endfor %}</p> -->
        {{ format_text_to_p(post.content|safe)|safe}}
        <div class="mt-0 d-flex flex-row gap-3">
            <a href="{{ url_for('post', id=post.id) }}"
                class="btn btn-outline-secondary btn-sm">{{ gettext("View Post") }}
                <span class="visually-hidden">{{ post.title }}</span></a>
            {% if post.poster_id == current_user.id %}<a href="{{ url_for('edit_post', id=post.id) }}"
                class="btn btn-outline-secondary btn-sm">{{ gettext("Edit Post") }}
                <span class="visually-hidden">{{ post.title }}</span></a>
            <form action="{{ url_for('delete_post', id=post.id) }}" class="d-inline-block" method="post">
                <button class="btn btn-outline-danger btn-sm delete-js"
                    data-delete-message="{{ gettext('Delete post?') }}">
                    {{ gettext(" Delete Post") }}
                </button>
            </form>
            {% endif %}
        </div>
    </article>
    {% else %}
    <p>
        {{ gettext('Sorry, your search term') }}: <strong>{{ q| trim}}</strong> {{
    gettext('was not found') }}
    </p>

    {% endfor %}

    <div id="app">

    </div>
    <div id="load-more" class="text-end">
    </div>

    {% if total>0 %}
    {% include 'helpers/_paginate_search.html' %}
    {% endif %}
</section>
{% endblock content %}


{% block js_before %}
<script>
    var showBackToTop = true
</script>
{% endblock js_before %}

{% block js_after %}

<script>
    const highlight = () => {
        /** @type {HTMLElement[]} */
        const q = `{{ q|trim }}`
        if (q !== '') {
            const items = document.querySelectorAll('.post-item')
            items.forEach(item => {
                /** @type {HTMLDivElement} */
                item.innerHTML = item.innerHTML.replaceAll(`{{ q|trim }}/gi`, `<mark><span class="highlight_word">{{ q|trim }}</span></mark>`)
            })
        }
        console.log('highlight')
    }

    let currentPage = '{{ posts.page+1 }}'

    function loadMore() {
        document.querySelector('#js-pagination-search').innerHTML = ''
        /** @type {HTMLButtonElement} */
        button = document.createElement('button')

        button.className = "btn btn-outline-dark mb-3"
        button.innerHTML = 'Load More...'

        document.querySelector('#load-more').appendChild(button)
        document.querySelector('#load-more').addEventListener('click', async e => {
            e.preventDefault()

            const currentUser = `{{ current_user.id }}`

            const createArticles = posts => {
                document.getElementById('app').innerHTML += posts.map(post => {
                    content = `<article class="post-item mb-3 shadow p-3 mb-5 bg-body rounded">
                        <h2><a href="/post/${post.id}">${post.title}</a></h2>
                        By: ${post.poster.name}<br />
                        <small><time datetime="${post.date_posted}" class="text-muted">${post.date_posted}</time></small><br />
                        ${post.content}
                        <div class="mt-0 d-flex flex-row gap-3">
                            <a href="/post/${post.id}"
                                class="btn btn-outline-secondary btn-sm">{{ gettext("View Post") }}                              
                                <span class="visually-hidden">${post.title}</span></a>`

                    if (post.poster.id === currentUser) {
                        content += `<a href="/edit_post/${post.id}"
                                class="btn btn-outline-secondary btn-sm">gettext("Edit Post") }}
                                <span class="visually-hidden">${post.title}</span></a>
                            <form action="/delete_post/${post.id})" class="d-inline-block" method="post">
                                <button class="btn btn-outline-danger btn-sm delete-js"
                                    data-delete-message="{{ gettext('Delete post?') }}">
                                    {{ gettext(" Delete Post") }}
                                </button>
                            </form>`
                    }
                    content += `
                        </div>
                    </article>`
                    return content
                })

            }

            try {

                const res = await fetch(`{{ url_for('search', cur=date_posted_input, cur_page='asc', q=q|trim, ajax=1)|safe }}&page=${currentPage}`)
                const data = await res.json()
                console.log(data)
                currentPage = data.next_page

                if (data.has_next === false || data.next_page === null) {
                    document.getElementById('load-more').innerHTML = ''
                    console.log('end of searched data')
                    return
                } else {
                    createArticles(data.posts)
                    highlight()
                }
            } catch (e) {
                console.error(e)
            }

        })
    }

    if ('fetch' in window) {
        loadMore()
    }

    highlight()

</script>
{% endblock js_after %}
