{% extends 'base.html' %}

{% block content %}


{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}


{% if email %}
<h1>{{ gettext("Hello") }}</h1>
<p>{{ gettext("Email") }}: {{ email }}</p>
<p>{{ gettext("Password") }}: {{ password_hash }}</p>
<br>
<p>{{ gettext("I found this info") }}: <br>
<ul class="list-group">
    <li class="list-group-item">{{ gettext("Name") }}: {{ user_to_check.name }}</li>
    <li class="list-group-item">{{ gettext("Email") }}: {{ user_to_check.email}}</li>
    <li class="list-group-item">{{ gettext("Pwd") }}: {{ user_to_check.password_hash }}</li>
    <li class="list-group-item">{{ gettext("Passed") }}: {{ passed }}</li>
</ul>
</p>


<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% else %}
<h1>{{ gettext("What's your email and password?") }}</h1>
<br>
<form action="" method="post" id="pwd-form">
    <div class="mb-3">
        {{ form.hidden_tag() }}
        {{ form.email.label(class='form-label') }}
        {{ form.email(class='form-control') }}
    </div>
    <div class="mb-3">
        {{ form.password_hash.label(class='form-label') }}
        {{ form.password_hash(class='form-control') }}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-secondary") }}
    </div>
</form>
{% endif %}



{% endblock %}
