{% extends 'base.html' %}

{% block content %}


{% for (category, message) in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>
{% endfor %}

{% if id == current_user.id %}
<h1>{{ gettext('Update User') }}</h1>
<br>
<form id="update-user" action="{{ url_for('update', id=name_to_update.id) }}" method="post"
    class="mb-3 shadow p-3 mb-5 bg-body rounded">
    {{ form.hidden_tag() }}
    {{ form.name.label(class='form-label') }}
    {{ form.name(class='form-control', value=name_to_update.name) }}
    {{ form.username.label(class='form-label') }}
    {{ form.username(class='form-control', value=name_to_update.username) }}
    <br>
    {{ form.email.label(class='form-label') }}
    {{ form.email(class='form-control', value=name_to_update.email) }}
    <br>
    {{ form.favorite_color.label(class='form-label') }}
    {{ form.favorite_color(class='form-control', value=name_to_update.favorite_color) }}
    <br>
    {% if current_user.role == 'admin' %}
    {{ form.role.label(class='form-label') }}
    {{ form.role(class='form-control', value=name_to_update.role) }}
    <br>
    {% endif %}

    {{ form.submit_register(class="btn btn-secondary", value="Update") }}
    <a href="{{ url_for('delete', id=id) }}" class="btn btn-danger">{{ gettext('Delete') }}</a>
</form>
<p class="mb-5">
    <a href="{{ url_for('dashboard') }}">{{ gettext("Go back to Dashboard") }}</a>
</p>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ gettext("Sorry, you can't edit this user.") }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ gettext('Close') }}"></button>
</div>

<h2>{{ gettext("Access Denied!") }}</h2>
<p>{{ gettext("Sorry, you cannot access this user profile.") }}</p>
{% endif %}

{% endblock content %}

{% block js_after %}

<script>
    /** @type {HTMLFormElement} */
    const form = document.querySelector('#update-user')
    form.addEventListener('submit', e => {
        e.preventDefault()
        /** @type {HTMLSelectElement} */
        const userRole = document.querySelector('#role');
        /** @type {HTMLOptionsCollection} */
        const options = userRole.options
        const opt = []
        for (let index = 0; index < options.length; index++) {
            const element = options[index];
            opt.push(element.value)
        }
        const isAdmin = `{{current_user.role}}`
        const isChangeUserRole = userRole.value !== isAdmin
        if (isChangeUserRole) {
            if (confirm(`If you downgrade your account type from {{current_user.role}} to ${userRole.value}, you will be unable to change back.\n\nAre you sure?`)) {
                form.submit();
            }
        } else {
            form.submit();
        }
    })
</script>
{% endblock js_after %}
